header{
    background: url('./assets/moon.jpg'); 
    background-size: cover; 
    background-position: center; 
    min-height: 700px; 
}
@media screen and (max-width: 670px) {
    header{
        min-height: 500px; 
    }
}

.tabs .indicator {
    background-color: lightblue !important;
}

.modal { 
    width: 65% !important ; 
    height: 65% !important ;
 }